<?xml version="1.0" ?>
<robot name="picture" version="1.0">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="26.17023242680741"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="picture___1">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/picture_m1_vm.obj"/>
      </geometry>
    </visual>
    <visual name="picture___2">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/picture_m2_vm.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/collision/picture_cm.obj"/>
      </geometry>
    </collision>
  </link>
</robot>
