<?xml version="1.0" ?>
<robot name="5a60c649a221293d72ed554eb3baedcc" version="1.0">
  <link name="base_link">
    <inertial>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <mass value="34.28575374773385"/>
      <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001"/>
    </inertial>
    <visual name="5a60c649a221293d72ed554eb3baedcc___3">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/5a60c649a221293d72ed554eb3baedcc_m3_vm.obj"/>
      </geometry>
    </visual>
    <visual name="5a60c649a221293d72ed554eb3baedcc___2">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/5a60c649a221293d72ed554eb3baedcc_m2_vm.obj"/>
      </geometry>
    </visual>
    <visual name="5a60c649a221293d72ed554eb3baedcc___1">
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/visual/5a60c649a221293d72ed554eb3baedcc_m1_vm.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 -0.0 0.0"/>
      <geometry>
        <mesh filename="shape/collision/5a60c649a221293d72ed554eb3baedcc_cm.obj"/>
      </geometry>
    </collision>
  </link>
</robot>